<% if @order_items.any? %>

  <table class='ui table'>
    <thead>
      <tr>
        <th class='eight wide'>Product</th>
        <th class='center aligned'>Unit Price</th>
        <th class='center aligned'>Quantity</th>
        <th class='center aligned'>Total Price</th>
        <th class='right aligned'>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |item| %>
      <tr>
        <td>
          <h1 class='ui header'>
            <%= image_tag item.product.image, class: 'ui circular image' %>
            <div class='content'>
              <h3><%= item.product.name %></h3>
            </div>
          </h1>
        </td>
        <td class='center aligned'><%= number_to_currency item.product.price %></td>
        <td class='center aligned'><%= item.quantity %></td>
        <td class='center aligned'><%= number_to_currency (item.product.price * item.quantity) %></td>
        <td class='right aligned'>
          <%= link_to order_item_path(item), data: {confirm: 'Remove from cart?', method: 'delete'} do %>
            <i class="trash outline icon"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr class='right aligned full-width'>
        <th colspan='5'>
          <h3>Your Subtotal: <%= number_to_currency current_order.subtotal %>
        </th>
      </tr>
    </tfoot>
  </table>

<% else %>

  <h3>Your shopping cart is empty.</h3>

<% end %>
