<h1>All Products</h1>

<% if @products.any? %>
  <div class='ui three cards'>
    <% @products.each do |product| %>
      <div class='card'>
        <div class='image'>
          <%= image_tag product.image %>
        </div>
        <div class='content'>
          <div class='header'>
            <%= link_to product.name, product_path(product) %>
          </div>
          <div class='description'>
            <h4><%= number_to_currency(product.price) %></h4>
          </div>
        </div>
        <div class='extra content'>
          <span class='left floated'>
            <i class="comments icon"></i>
            <%= product.reviews.count %>
            <% if product.reviews.count == 1 %>
              Review
            <% else %>
              Reviews
            <% end %>
          </span>
          <span class='right floated ui star rating disabled-rating' data-rating='<%= product.rating %>'></span>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
    <h3>No products at this time.</h3>
<% end %>



<% if current_user && current_user.admin %>
  <h4 class="ui horizontal divider header">
    <i class="privacy icon"></i>
    ADMINISTRATOR
  </h4>
  <i class="plus icon"></i>
  <%= link_to 'Add a New Product', new_product_path %>
<% end %>
