<div class='ui two column grid'>
  <div class='column'>
    <h1><%= @product.name %></h1>

    <div class='ui massive star rating disabled-rating' data-rating='<%= @product.rating.round %>'></div>
    <br>
    <p><big><%= @product.rating %> out of 5 stars</big></p>
  </div>

  <div class='right aligned column'>
    <h3>Price: <%= number_to_currency(@product.price) %></h3>
  </div>
</div>

<h4 class='ui horizontal divider header'>
  <i class='info circle icon'></i>
  Description
</h4>

<h5><%= @product.description %></h5>

<%= image_tag @product.image %>

<h4 class='ui horizontal divider header'>
  <i class='comments icon'></i>
  Reviews
</h4>

<a href='/products/<%= @product.id %>/reviews/new' class='ui primary button right floated'>
  <i class="write icon"></i>
  Write a Review
</a>

<% if @reviews.any? %>
  <% @reviews.each do |review| %>
  <div class='ui card'>
    <div class='content'>
      <div class='header'><%= review.account.user.username %></div>
      <div class='meta'>
        <span class='left floated time'><%= review.created_at.strftime('%m-%d-%Y') %></span>
        <span class='right floated ui star rating disabled-rating' data-rating='<%= review.rating %>'></span>
      </div>
      <div class='description'>
        <p><%= review.content %></p>
      </div>
    </div>
    <% if current_user && (review.account == current_user.account || current_user.admin) %>
      <div class='extra content'>
        <div>
          <% if current_user && (review.account == current_user.account) %>
            <i class="edit icon"></i>
            <%= link_to 'Edit', edit_product_review_path(@product, review) %>
          <% end %>
          <div class='right floated'>
            <i class="trash icon"></i>
            <%= link_to 'Delete', product_review_path(@product, review), method: 'delete', data: {confirm: 'Delete this review?'} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
<% else %>
  <p>No reviews for this product yet.</p>
<% end %>

<% if current_user && current_user.admin %>
  <h4 class="ui horizontal divider header">
    <i class="privacy icon"></i>
    ADMINISTRATOR
  </h4>
  <div>
    <i class="edit icon"></i>
    <%= link_to 'Edit Product', edit_product_path(@product) %>
  </div>
  <div>
    <i class="trash icon"></i>
    <%= link_to 'Remove Product', product_path(@product), method: 'delete', data: {confirm: 'Remove this product?'} %>
  </div>
<% end %>
