<div class="ui breadcrumb">
  <a href='/' class="section">Home</a>
  <i class="right chevron icon divider"></i>
  <a href='/products' class="section">Products</a>
  <i class="right chevron icon divider"></i>
  <a href='/products/<%= @product.id %>' class="section"><%= @product.name %></a>
  <i class="right chevron icon divider"></i>
  <p class="section">Review</p>
</div>

<h1><%= @product.name %></h1>
<div class='ui small image'>
  <%= image_tag @product.image  %>
</div>

<h4 class='ui horizontal divider header'>
  <i class='write icon'></i>
  Review
</h4>

<%= render 'layouts/errors', object: @review %>

<%= form_for [@product, @review], html: { multipart: true, class: 'ui form' } do |f| %>
  <div class='field'>
    <%= f.label :rating %>
    <div class='ui massive star rating review-rating' data-rating='<%= @review.rating %>'></div>
  </div>
  <%= f.hidden_field :rating, id: 'hidden-rating' %>
  <div class='field'>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <%= f.submit 'Submit Review', class: 'ui positive basic button' %>
<% end %>
