<!DOCTYPE html>
<html>
  <head>
    <title>OnlineBoutique</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui menu">
      <div class="header item">
        Online Boutique
      </div>
      <%= link_to "Home", root_path, class: "item" %>
      <%= link_to "Products", products_path, class: "item" %>
      <div class="right menu">
        <% if current_user %>
          <%= link_to cart_path, class: "item cart-popup", :'data-content' => "#{current_order.total_items} items" do %>
            <i class="shop icon"></i>
            Cart
          <% end %>
          <%= link_to current_user.username, profile_path, class: "item" %>
          <%= link_to "Sign Out", destroy_user_session_path, class: "item", method: 'delete' %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "item" %>
          <%= link_to "Sign In", new_user_session_path, class: "item" %>
        <% end %>
      </div>
    </div>

    <% if flash[:alert] %>
      <div class="ui container">
        <div class="ui negative message">
          <i class="close icon"></i>
          <%= flash[:alert] %>
        </div>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="ui container">
        <div class="ui green message">
          <i class="close icon"></i>
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

    <div class="ui container">
      <%= yield %>
    </div>

  </body>
</html>
