<!DOCTYPE html>
<html>
  <head>
    <title>OnlineBoutique</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui menu">
      <div class="header item">
        Online Boutique
      </div>
      <%= link_to "Home", root_path, class: "item" %>
      <%= link_to "Products", root_path, class: "item" %>
      <div class="right menu">
        <% if current_user %>
          <span class="item"><%= current_user.email %></span>
          <%= link_to "Sign Out", destroy_user_session_path, class: "item", method: 'delete' %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "item" %>
          <%= link_to "Sign In", new_user_session_path, class: "item" %>
        <% end %>
      </div>
    </div>

    <div class="ui container red-text">
      <%= flash[:alert] %>
    </div>
    <div class="ui container green-text">
      <%= flash[:notice] %>
    </div>

    <div class="ui container">
      <%= yield %>
    </div>

  </body>
</html>
